.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  margin: 64px 0 0 0;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 0.9rem;
}

.footer a {
  color: #333;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 2rem 0;
  color: #3D3D3D;
  line-height: 1;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.subtitle {
  font-family: 'Roboto Mono';
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .title {
    margin: 1rem 0;
    font-size: 1.9rem;
  }
}

@media (max-width: 600px) {
  .subtitle {
    font-size: 1.2rem;
  }
}

.box {
  display: flex;
  width: 100%;
  margin: 0 0 24px 0;
  min-width: 320px;
  max-width: 740px;
  border: 1px solid #819b86;
  background-color: #bdf0cb;
  border-radius: 20px;
  box-shadow: 0 4px 0 0 #819b86;
}

.one {
  flex: 1;
  margin: 12px;
  padding-left: 12px;
}

.two {
  flex: 1;
  margin: 12px;
  padding-left: 24px;
  border-left: 1px solid #819b86;
}

@media (max-width: 600px) {
  .two {
    flex: 1;
    margin: 0 24px;
    padding: 12px 0;
    border-left: 0px solid #819b86;
    border-top: 1px solid #819b86;
  }
}

.one h2 {
  margin: 0 0 8px 0;
  font-family: 'Roboto Mono';
  font-size: 2.1rem;
  text-transform: uppercase;

}

.one p {
  margin: 0;

}

.one h4,
.two h4 {
  margin: 8px 0;
  text-transform: uppercase;
}

.two h2 {
  margin: 0 0 8px 0;
  font-family: 'Roboto Mono';
  font-size: 1.1rem;
  text-transform: uppercase;
}

.btn {
  margin: 8px 4px 12px 0;
  padding: 8px 12px;
  height: 40px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #333;
  font-size: 1.05rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    margin: 8px 0 12px 0;
    flex-direction: row;
    text-align: center;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 1rem 0;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #222;
  background-color: #fff;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  box-shadow: 0 4px 0 0 #333;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-family: 'Roboto Mono';
  font-size: 1.1rem;
  text-transform: uppercase;
}

.card p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.4;
}

.card ol,
.card ul  {
  padding: 0 0 1rem 1rem;
}

.card ul  {
  line-height: 1.4;
}

.responsive {
  width: 100%;
  height: inherit;
  min-width: 320px;
  max-width: 568px;
  margin: 0;
}

@media (max-width: 600px) {
  .grid,
  .box {
    width: 100%;
    flex-direction: column;
  }
}
